/* gruvbox dark mode
 * https://github.com/morhetz/gruvbox
 */
:root {
    --dark-black: #101116;
    --black: #101116;
    --bright-black: #928374;
    
    --white: #ffffff;
    --dark-white: #eeeeee;
    --bright-white: #fbf1c7;
    --dark-red:#550c28;
    --red-linenr: #880935;
    
    --red: #ff0055;
    --purple: #d57bff;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #0000ff;
    --magenta: #b16286;
    --cyan: #689d6a;
    --orange: #d65d0e;
    --dark-gray: #49483e;
    
    --bright-purple: #6766b3;
    --bright-red: #ff0055;
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #00ffff;
    --bright-magenta: #d3869b;
    --bright-cyan: #8ec07c;
    --bright-orange: #fe8019;
    --bright-gray: #a89984;
}
