*,
*::after,
*::before {
    box-sizing: border-box;
}

body {width:100%;height:100%; margin:0; overflow:hidden;}
a {text-decoration:none; font-weight:bold; color black; margin-left:3px;}
a:link, a:visited, a:hover, a:active {color:black;}
h1,h2,h3,h4,p {margin:0;}
cite {margin-left:3px;}

.container {
    width:56vw;
    height:36vw;
    margin:0 auto;
    padding:1rem;
}

.container .frame {
    width:100%;
    height:100%;
}

.frame {
    user-select:none;
    position: relative;
    background: black;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
}

.mat {
    position: absolute;
    background: white;
    top: 4.0303%; bottom: 4.0303%; left: 2.5%; right: 2.5%;
    box-shadow: 0px 0px 20px 0px #322a51 inset;
}

.art {
    display: flex;
    align-items:center;
    position: absolute;
    text-align:center;
    top: 16.129%; bottom: 16.129%; left: 13.158%; right: 13.158%;
}

.art:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px #322a51 inset;
}

.art #canvas {
    position:relative;
    display:block;
    padding:0.5em;
    max-width:93%;
    margin:0 auto;
}

#canvas {
    vertical-align:center;
}

.caption {
    width:20vw;
    height:auto;
    padding:1rem;
    border:1px solid black;
    border-radius:6px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 600px) {
    .container {width:96vw; height:76vw;}
    .caption {width:36vw; font-size:1.5vw;}
}
