* {margin:0;padding:0;text-decoration:none;box-sizing:border-box;color:#000;}
nav a:hover { background-color:#000;color:#fff;text-decoration:none }
hr { clear:both;border:0 }
header { float:left;margin:30px 60px 30px 30px }
header img { display:block }
nav { padding:25px 45px 60px;margin:0 }
nav ul {padding:0;margin:0 45px 0 0;display:inline-block;vertical-align:top}
nav ul li {list-style-type:none;white-space:pre;}
nav ul li a { padding:0 4px}
main a:hover, main a:hover > *, nav a:hover, nav main a:hover > * { background-color:#000;color:#fff;text-decoration:none }

footer { padding:30px;line-height:30px;clear:both;margin:0;border-top:1px solid #000 }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

article ul { padding-left:3em; }

.mg-4 { margin-bottom:4em; }

blockquote {
    margin: 0;
    padding: 0 1em;
    color: #57606a;
    border-left: .25em solid #d0d7de;
}
