{{ define "main" }}
<aside class="counter-skip" style="margin-bottom:26px;">
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ if eq "categories" $taxonomyname }}
      {{ range $key, $value := $taxonomy }}
        <h3>{{ $key }}</h3>
        {{ range $value.Pages }}
        
        <ul>
            <li>
                <a href="{{ .Permalink }}">{{ .Title | markdownify | safeHTML | truncate 30 }}</a>
                <span>Γ</span>
                <span class="post-date">{{ .Date.Format "Jan 01, 2006" }}</span>
            </li>
        </ul>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</aside>
{{ end }}
