{{ define "main" }}
<aside class="counter-skip" style="margin-bottom:26px;">
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ if eq "categories" $taxonomyname }}
      {{ range $key, $value := $taxonomy }}
        <h3>{{ $key }}</h3>
        {{ range $value.Pages }}
        
        <div style="margin-left:12px;">
        <span>{{ .Date.Format "Jan 01, 2006" }}</span> <span>::</span><span><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        </div>
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</aside>
{{ end }}
