{{ define "main" }}
<section>
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
    {{ if eq "categories" $taxonomyname }}
      {{ range $key, $value := $taxonomy }}
        <div>{{ $key }}</div>
        <table>
        {{ range $value.Pages }}
        
        <tr>
        <td>{{ .Date.Format "Jan 01, 2006" }}</td> <td>::</td><td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
        </tr>
        {{ end }}
        </table>
      {{ end }}
    {{ end }}
  {{ end }}
</section>
{{ end }}
