{{ define "main" }}
    <aside class="counter-skip" style="margin-bottom:26px;">
        <h1>{{ .Title | markdownify }}</h1>
        {{ .Content }}
        {{ range .Pages }}
        <ul>
            <li>
                <a href="{{ .Permalink }}">{{ .Title | markdownify | safeHTML | truncate 30 }}</a>
                <span>Γ</span>
                <span>{ {{ range $i, $e := .Params.tags }}{{- if $i -}}, {{ end -}}<span style="color:gray;">{{ . }}</span>{{ end }} }</span>
                <span class="post-date">{{ .Date.Format "Jan 01, 2006" }}</span>
            </li>
        </ul>
    {{ end }}
    </aside>
{{ end }}
