{{ define "main" }}
    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
        {{ .Content }}
    </header>
    <table>
    {{ range .Pages }}
    <tr>
        <td>{{ .Date.Format "Jan 01, 2006" }}</td>
        <td>::</td>
        <td><a href="{{ .Permalink }}">{{ .Title | markdownify | safeHTML | truncate 30 }}</a></td>
        <td>@</td>
        <td>{ {{ range $i, $e := .Params.tags }}{{- if $i -}}, {{ end -}}<span style="color:gray;">{{ . }}</span>{{ end }} }</td>
    </tr>
    {{ end }}
    </table>
{{ end }}
